---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav.astro";
import Section1 from "../components/section-1.astro";
import Section2 from "../components/section-2.astro";
import Section3 from "../components/section-3.astro";
import Section4 from "../components/section-4.astro";
import Section5 from "../components/section-5.astro";
import Section6 from "../components/section-6.astro";
import Footer from "../components/footer.astro";
---

<Layout>
  <header>
    <Nav />
  </header>
  <main class="container-fluid px-0">
    <Section1 />
    <Section2 />
    <Section3 />
    <Section4 />
    <Section5 />
    <Section6 />
  </main>
  <Footer />
</Layout>
