---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  cardImgProfe: string;
  cardNameProfe: string;
}

const { cardImgProfe, cardNameProfe } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/img/Profesionales/*.{jpeg,jpg,png,gif}",
);
if (!images[cardImgProfe])
  throw new Error(
    `"${cardImgProfe}" does not exist in glob: "/src/assets/img/Profesionales*.{jpeg,jpg,png,gif}"`,
  );
---

<div class="swiper-slide d-flex justify-content-center">
  <div class="card profile-card" style="width: 18rem;">
    <Image
      src={images[cardImgProfe]()}
      class="img-fluid rounded-3"
      alt={cardNameProfe}
      loading="lazy"
    />
  </div>
</div>
