---
import logo1 from "../assets/logo-1.png";
import { Image } from "astro:assets";
---

<nav class="navbar navbar-expand-lg mb-5">
  <div class="container">
    <a class="navbar-brand z-0" href="#1" aria-current="page" data-scroll-spy>
      <Image
        src={logo1}
        class="img-fluid wow animate__animated animate__pulse animate__infinite"
        loading="lazy"
        width="120"
        alt="Espacio odontologico Logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row justify-content-around flex-wrap"
      >
        <li class="nav-item">
          <a class="nav-link" href="#2" data-scroll-spy> URGENCIAS 24 HS </a>
        </li>

        <li class="nav-item dropdown list-group">
          <button
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            TRATAMIENTOS
          </button>
          <ul class="dropdown-menu dropdown-menu-end py-0">
            <!-- Implantes Dentales -->
            <li>
              <a
                class="list-group-item dropdown-item list-group-item-action"
                href="#"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#implants">Implantes Dentales</a
              >
            </li>
            <!-- Ortodoncia -->
            <li>
              <a
                class="list-group-item dropdown-item list-group-item-action"
                href="#"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#orthodontics">Ortodoncia</a
              >
            </li>
            <!-- Odontopediatría -->
            <li>
              <a
                class="list-group-item dropdown-item list-group-item-action"
                href="#"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#pediatricDentistry">Odontopediatría</a
              >
            </li>
            <!-- Odontología estética -->
            <li>
              <a
                class="list-group-item dropdown-item list-group-item-action"
                href="#"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#cosmeticDentistry">Odontología estética</a
              >
            </li>
            <!-- Limpieza dental -->
            <li>
              <a
                class="list-group-item dropdown-item list-group-item-action"
                href="#"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#dentalCleaning">Limpieza dental</a
              >
            </li>
            <!-- Blanqueamiento dental -->
            <li>
              <a
                class="list-group-item dropdown-item list-group-item-action"
                href="#"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#teethWhitening">Blanqueamiento dental</a
              >
            </li>
            <!-- Cirugía dental -->
            <li>
              <a
                class="list-group-item dropdown-item list-group-item-action"
                href="#"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#dentalSurgery">Cirugía dental</a
              >
            </li>
            <!-- Prótesis dentales -->
            <li>
              <a
                class="list-group-item dropdown-item list-group-item-action"
                href="#"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#dentalProstheses">Prótesis dentales</a
              >
            </li>
            <!-- Perno y coronas -->
            <li>
              <a
                class="list-group-item dropdown-item list-group-item-action"
                href="#"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#boltAndCrowns">Perno y coronas</a
              >
            </li>
            <!-- Urgencias odontológicas -->
            <li>
              <a
                class="list-group-item dropdown-item list-group-item-action"
                href="#"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#dentalEmergencies">Urgencias odontológicas</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#3" data-scroll-spy> NUESTROS EQUIPO </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://wa.me/5490889612468"
            target="_blank"
          >
            AGENDA TU CONSULTA
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
