---
import logo1 from "../assets/logo-1.png";
import { Image } from "astro:assets";
---

<div style="background-color: #4e5e8b;">
  <div class="shapeTop"></div>
  <section id="1" class="section-1" data-scroll-spy>
    <div
      class="elementor-widget wow animate__animated animate__fadeIn animate__slow"
    >
      <Image
        src={logo1}
        class="img-fluid"
        width={400}
        loading="eager"
        fetchpriority="high"
        alt="Espacio odontologico Logo"
        format="avif"
      />

      <div
        class="mt-4 d-grid gap-2 d-md-flex flex-column flex-md-row justify-content-center"
      >
        <a
          href="https://wa.me/5490889612468"
          target="_blank"
          aria-label="TURNOS PROGRAMADOS"
          class="card-trat btn btn-primary me-0 me-md-5 shadow px-5 py-2"
          >TURNOS PROGRAMADOS <i class="bi bi-whatsapp ms-2"></i></a
        >
        <a
          href="https://wa.me/5490889612468"
          target="_blank"
          aria-label="URGENCIAS 24 HS"
          class="card-trat btn btn-primary ms-0 ms-md-5 shadow px-5 py-2"
          >URGENCIAS 24 HS <i class="bi bi-hospital ms-2"></i></a
        >
      </div>
    </div>
  </section>
  <div class="shapeBottom"></div>
</div>
