<section class="container">
  <div class="row my-5 py-4 d-flex justify-content-center">
    <div class="col text-center mb-3">
      <h3>NUESTROS PACIENTES QUE CONFÍAN</h3>
    </div>

    <div class="col-12">
      <div
        class="elfsight-app-ef3cf80f-2c9f-46c6-a60e-b801344e4fde"
        data-elfsight-app-lazy
      >
      </div>
    </div>
  </div>
</section>
