<section class="container">
  <article class="row my-5 py-4 d-flex justify-content-center">
    <header class="col text-center mb-3">
      <h3 class="display-6 fw-normal text-body-emphasis">NUESTRA SUCURSAL</h3>
    </header>
    <div></div>
    <iframe
      class="rounded-5"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3404.7395843629497!2d-64.18968802532291!3d-31.42130023958087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a3d27e811c53%3A0xc6dd652462ad9171!2sEspacio%20Odontol%C3%B3gico%20-%20Urgencias%2024hs!5e0!3m2!1ses-419!2sar!4v1740586468424!5m2!1ses-419!2sar"
      width="600"
      height="450"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      title="Blvd. Pte. Arturo Umberto Illia 68, Córdoba Argentina"
      aria-label="Blvd. Pte. Arturo Umberto Illia 68, Córdoba Argentina"
    ></iframe>
  </article>
</section>
