---
import bg from "../assets/img/bg.jpg";
import bg2 from "../assets/img/bg2.jpg";
import logo1 from "../assets/logo-1.png";
import { Image } from "astro:assets";
---

<section id="1" class="section-1 position-relative" data-scroll-spy>
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner z-n1 position-absolute">
      <div class="carousel-item active">
        <Image src={bg} class="d-block w-100" alt="asfas" format="avif" />
      </div>
      <div class="carousel-item">
        <Image src={bg2} class="d-block w-100" alt="aasf" format="avif" />
      </div>
    </div>
  </div>
  <div
    class="elementor-widget wow animate__animated animate__fadeIn animate__slow"
  >
    <Image
      src={logo1}
      class="img-fluid"
      width={400}
      alt="Espacio odontologico Logo"
      format="avif"
    />

    <div
      class="mt-4 d-grid gap-2 d-md-flex flex-column flex-md-row justify-content-center"
    >
      <a
        href="https://wa.me/5490889612468"
        target="_blank"
        class="btn btn-primary me-0 me-md-5 shadow"
        >TURNOS PROGRAMADOS <i class="bi bi-whatsapp ms-2"></i></a
      >
      <a
        href="https://wa.me/5490889612468"
        target="_blank"
        class="btn btn-primary ms-0 ms-md-5 shadow"
        >URGENCIAS 24 HS <i class="bi bi-hospital ms-2"></i></a
      >
    </div>
  </div>

  <div class="shapeBottomAnimation"></div>
</section>
