<section id="2" class="emer mt-5">
  <div class="shapeTop"></div>
  <div class="container py-5">
    <div class="row">
      <div
        class="col-12 col-md-6 d-flex justify-content-center align-items-center wow animate__animated animate__backInLeft"
      >
        <div class="text-center">
          <h2 class="display-6 text-danger fw-bold">URGENCIAS DENTALES</h2>
          <h3 class="display-6 fst-normal">Todos los días, las 24hs</h3>
          <p class="">
            Dolor intenso, fracturas, traumatismos, hemorragias, cementados.
          </p>
          <div class="mt-4 d-grid gap-2 d-flex flex-row justify-content-center">
            <a
              class="btn btn-danger me-0 me-md-5 shadow"
              href="https://wa.me/5490889612468"
              target="_blank">WHATSAPP<i class="bi bi-whatsapp ms-2"></i></a
            >
            <a
              class="btn btn-danger ms-0 ms-md-5 shadow"
              href="https://wa.me/5490889612468"
              target="_blank">LLAMAR<i class="bi bi-telephone-fill ms-2"></i></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shapeBottom"></div>
</section>
