<!-- <section class="container">
  <div class="row my-5 py-4 d-flex justify-content-center">
    <div class="col text-center mb-3">
      <h3>NUESTROS PACIENTES QUE CONFÍAN</h3>
    </div>

    <div class="col-12">
      <div
        class="elfsight-app-ef3cf80f-2c9f-46c6-a60e-b801344e4fde"
        data-elfsight-app-lazy
      >
      </div>
    </div>
  </div>
</section> -->
<section class="container">
  <div class="row my-5 py-5 gy-5 gy-lg-0 d-flex align-items-center">
    <div class="col-12 col-lg-4 text-center text-lg-start">
      <h2 class="mb-3 mb-xl-4">NUESTROS PACIENTES QUE CONFÍAN</h2>
      <p class="lead">
        La opinión de nuestros pacientes nos respalda. Estos son algunos de sus
        testimonios.
      </p>
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div
            class="d-flex align-items-center text-center border p-2 border-2 rounded shadow-sm"
          >
            <div class="flex-shrink-0">
              <h4 class="display-3">4.6</h4>
            </div>
            <div class="flex-grow-1 ms-3">
              <div class="text-warning mb-0">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <br />
                <p class="text-muted">49 reseñas activado</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="row justify-content-xl-end">
        <div class="col-12 col-xl-11">
          <div class="row gy-4">
            <div class="col-12 col-md-6">
              <div class="card shadow">
                <div class="card-body text-center">
                  <h5 class="card-title">John Doe</h5>

                  <p class="card-text">
                    "Excelente atención de la doctora Gross. Muy conforme con el
                    trabajo realizado, tanto por la dedicación como por la
                    calidad del resultado. Se tomó el tiempo necesario para
                    explicar cada paso y cuidar cada detalle. Los plazos y
                    precios fueron muy adecuados, y el trato siempre fue amable
                    y profesional. Sin dudas, la recomiendo."
                  </p>
                  <div class="text-warning">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="card shadow">
                <div class="card-body text-center">
                  <h5 class="card-title">John Doe</h5>

                  <p class="card-text">
                    "Excelente atención. La odontóloga Gross fue muy
                    profesional, explicó cada paso del tratamiento y me hizo
                    sentir cómodo en todo momento. El resultado fue exactamente
                    lo que esperaba. Totalmente recomendable."
                  </p>
                  <div class="text-warning">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="card shadow">
                <div class="card-body text-center">
                  <h5 class="card-title">John Doe</h5>

                  <p class="card-text">
                    "Super recomendable Espacio! Me encanto atenderme con los
                    chicos, destaco mucho el profesionalismo por sobre todas las
                    cosas y la empatia/calidez humana de todos. Se nota el
                    trabajo en equipo, y todo lo que me ha pasado me lo supieron
                    resolver. La ubicacion del consultorio excelente y comodo
                    para su llegada!"
                  </p>
                  <div class="text-warning">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="card shadow">
                <div class="card-body text-center">
                  <h5 class="card-title">John Doe</h5>

                  <p class="card-text">
                    "Super recomendable, desde la atención telefónica, hasta el
                    seguimiento e importancia que le dan a tu urgencia. Super
                    rápidos y muy buena atención. Fui anoche sábado para un
                    drenaje y me fui con todas las indicaciones, con seguimiento
                    en mi tratamiento, además el precio es accesible a
                    comparación de otros lugares."
                  </p>
                  <div class="text-warning">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
